---
import SocialLinks from "@/components/SocialLinks.astro";
import Link from "@/components/shared/Link.astro";
import Container from "@/components/Container.astro";
import presentation from "@/data/presentation";
---

<footer id="footer" class="bg-orange-800 flex items-center min-h-[100dvh] sticky bottom-0">
  <Container>

  <article class="flex flex-col gap-8">
    <header class="flex w-full flex-row justify-between gap-1">
      <h2 class="text-lg text-neutral-100">Get in touch</h2>
    </header>
    <p>
      Email me at <Link
        href={`mailto:${presentation.mail}`}
        label={presentation.mail}
      /> or follow me via my social links.
    </p>

    <SocialLinks />

    <p class="text-xs mt-5">
      No data is stored or collected on this website.
      <br />
      Site version. 1.0.0 The website uses Manrope font. Built with Astro, Tailwind and Vanilla JS 🤘, Madrid
      2025.
      <br />
      All claims and statements reflect subjective observations.
    </p>
  </article>


  </Container>

</footer>

