<!-- ThemeToggle.astro -->
<button
  id="themeToggle"
  class="rounded bg-gray-200 p-2 dark:bg-gray-800"
  transition:persist
  transition:name="toggle"
>
  <span class="light block dark:hidden text-black">Go Light</span>
  <span class="dark hidden dark:block text-white">Go Dark</span>
</button>
