---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEOTags from "@/components/seo/SEOTags.astro";

// Supports weights 200-800
import "@fontsource-variable/manrope";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags title={title} />
  <ViewTransitions />
  <body
    class="dark:bg-neutral-950 bg-slate-200 text-sm dark:text-neutral-400 text-slate-800"
  >
    <Header />
    <div
      id="mainPanel"
      class="mx-auto flex min-h-screen flex-col gap-9 md:gap-20 md:py-16 dark:bg-neutral-950 bg-slate-200 relative z-10"
    >
      <slot />
    </div>
    <Footer />
    <style is:global>
      html {
        font-family: "Manrope Variable";
      }
      @keyframes svgRotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .svg-rotate {
        animation: svgRotate 3s linear forwards infinite;
      }
    </style>
    <script src="../scripts/pageLoad.js"></script>
    <script src="../scripts/themeToggle.js"></script>
  </body>
</html>
